* {
  box-sizing: border-box;
}

.contact-sec {
  height: 40dvh;
  background: url("../../kakanin.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: -1;
  position: relative;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.contact-sec .background-filt {
  position: absolute;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.5),
    rgba(144, 238, 144, 0.5)
  );
  width: 100%;
  z-index: 1;
}

.contact-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(107, 255, 70);
  z-index: 2;
  margin-top: 20px;
  margin-bottom: 40px;
}

.contact-header h3 {
  margin: 0;
}

.contact-cards {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.contact-cards .contact-card {
  height: 100px;
  width: 300px;
  background-color: rgb(97, 250, 97);
  border-radius: 20px;
  opacity: 0.8;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  z-index: 4;
}

.contact-cards .contact-card span {
  padding: 15px;
  border-radius: 40px;
  background-color: rgb(97, 250, 97);
  opacity: 0.9;
  position: absolute;
  margin-top: -80px;
  margin-left: -245px;
}

.contact-cards .contact-card .contact-icon {
  font-size: 25px;
}

.contact-card a {
  text-decoration: none;
  z-index: 5;
  cursor: pointer;
}
